.change-password-form {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.password-input,
.password-progress {
  width: 100%;
  max-width: 500px;

}

.submit-button {
  width: 100%;
  max-width: 500px;
}

/* Media Queries for responsive design */
@media (min-width: 769px) {
  .password-input,
  .password-progress {
    width: 100%; /* 设置大屏幕上输入框和进度条的宽度 */
    max-width: 500px;
    
  }

  .submit-button {
    width: 100%; /* 按钮在大屏幕上保持自动宽度 */
    max-width: 500px;
  }
}

@media (max-width: 768px) {
  .change-password-form {
    padding: 10px;
  }

  .change-password-form .ant-form-item {
    margin-bottom: 10px;
  }

  .password-input,
  .password-progress,
  .submit-button {
    width: 100% !important; /* 在小屏幕上占满可用宽度 */
  }
}

.ant-form-item-explain-error {
  margin-top: 8px; /* 增加错误提示与输入框之间的间距 */
}

.ant-form-item {
  margin-bottom: 36px; /* 增加表单项之间的间距，防止提示被遮挡 */
  margin-top: 38px; /* 增加错误提示与输入框之间的间距 */
}
